.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color:var(--bg-primary);
}

.main {
  flex: 1;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  padding: 32px 20px;
}